/* toggler https://stackoverflow.com/a/23069541/10025507 */

.toggle-male,
.toggle-male + label + div{
  display:none;
}
.toggle-male + label{
  background: url('../img/male-0.png');
  position:relative;
  display:inline-block;
  width:9px;
  height:13px;
  margin-left: -15px;
  margin-top: 8.5px;
}
.toggle-male:checked + label{
  background: url('../img/male.png');
}
.toggle-male:checked + label + div{
  display: block;
}

.toggle-female,
.toggle-female + label + div{
  display:none;
}
.toggle-female + label{
  background: url('../img/female-0.png');
  position:relative;
  display:block;
  width:9px;
  height:13px;
  margin-left: -15px;
}
.toggle-female:checked + label{
  background: url('../img/female.png');
}
.toggle-female:checked + label + div{
  display: block;
}

.toggle-ball,
.toggle-ball + label + div{
  display:none;
}
.toggle-ball + label{
  background: url('../img/ball-0.png');
  position:relative;
  display:inline-block;
  width:14px;
  height:14px;
  margin-left: -17px;
  margin-top: 6px;
  z-index: 1;
}
.toggle-ball:checked + label{
  background: url('../img/ball.png');
}
.toggle-ball:checked + label + div{
  display: block;
}

.ball-col-4.toggle-ball + label{
  background: url('../img/ball-0.png');
  position:relative;
  display:inline-block;
  width:14px;
  height:14px;
  margin-left: -17px;
  margin-top: 31px;
  z-index: 1;
}
.ball-col-4.toggle-ball:checked + label{
  background: url('../img/ball.png');
}
.ball-col-4.toggle-ball:checked + label + div{
  display: block;
}

.ball-col-5.toggle-ball + label{
  background: url('../img/ball-0.png');
  position:relative;
  display:inline-block;
  width:14px;
  height:14px;
  margin-left: -17px;
  margin-top: 56px;
  z-index: 1;
}
.ball-col-5.toggle-ball:checked + label{
  background: url('../img/ball.png');
}
.ball-col-5.toggle-ball:checked + label + div{
  display: block;
}

.ball-col-6.toggle-ball + label{
  background: url('../img/ball-0.png');
  position:relative;
  display:inline-block;
  width:14px;
  height:14px;
  margin-left: -17px;
  margin-top: 81px;
  z-index: 1;
}
.ball-col-6.toggle-ball:checked + label{
  background: url('../img/ball.png');
}
.ball-col-6.toggle-ball:checked + label + div{
  display: block;
}
